<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<%= fa_stacked_icon "terminal inverse", base: "square", class: "pull-right", text: "Hi!"%>
<%=fa_stacked_icon "twitter", base: "square-o"%>
