<link href="assets/css/material-kit.css?v=2.0.6" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h1>Capture. Verify. Reward.</h1>
            <h3 class="title text-center">Good Behavior</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <% if current_user && current_user.admin && @waiting > 0 %>
	        <h2 class="title">
	        	You have <%= link_to @waiting, chores_url %> chores waiting to be verified
	    	</h2>
	    <% end %>
	    <% if current_user && !current_user.admin %>
	    	<h2 class="title">
	        	You have a value of <span class="h4"><%= current_user.bank if current_user %></span> in your bank! Click below to request a cash-out!</p>
	    		<% if current_user.bank == 0 %>
	    			<a href="#" class="btn btn-success disabled">Cash In</a>
	    		<% else %>
	    			<a href="#" class="btn btn-success">Cash In</a>
	    		<% end %>
	    	</h2>
	    <% end %>
      </div>
    </div>
  </div>
		<div class="container-fluid">
		<div class="col">
			<% if current_user && !current_user.admin && @completed_today %>
			<div class="h4">You completed these chores today</div>
			<ul>
				<% @completed_today.each do |c| %>
					<li><%= c.spiffy_task.name %></li>		
				<% end %>
			</ul>
			<% else %>
			<% end %>
		</div>
	</div>
	</div>
</div>
