<div class="h2">Assign. Verify. Reward.</div>
<p>
	<% if current_user && current_user.admin && @waiting > 0 %>
		<span>You have <%= link_to @waiting, chores_url %> chores to review.</span>
	<% end %>
</p>
<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
	 		 	<img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
	  				<div class="card-body">
	    				<h5 class="card-title">Your Bank</h5>
	    				<p class="card-text">You have a value of <%= current_user.bank if current_user%>
	    				 in your bank! Click below to request a cash-out!</p>
	    				 <% if current_user.bank == 0 %>
	    				 	<a href="#" class="btn btn-success disabled">Cash In</a>
	    				 <% else %>
	    				 	<a href="#" class="btn btn-success">Cash In</a>
	    				 <% end %>
	    				
	  				</div>
			</div>
		</div>
	</div>
</div>
