<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
          	<h1>Give New Bonus</h1>
              <%= render 'form', bonu: @bonu %>
          </div>
        </div>
      </div>
    </div>


