<link href="../assets/css/material-kit.css?v=2.0.6" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <%= render 'form', chore: @chore %>
          </div>
        </div>
      </div>
    </div>
  </div>
		
	</div>
</div>


<%= link_to 'Back', chores_path %>
